@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");


html, body {
  height: 100%;
  margin: 0;
  background: url(https://images.wallpaperscraft.com/image/single/mountain_night_starry_sky_192065_3840x2160.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}
* {
  box-sizing: border-box;
}

#roomsDiv {
  min-width: 300px;
}

.createPostButton {
  margin-top: 5px;
}

.testingButton {
  display: flex;
  min-width: 60%;
  justify-content: flex-start;
}

h6{
  color: black;
}

.navcolor{
background: #C9D6FF !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.openroom {
  min-width: 35%;
}

.authorFont {
    font-size: 5px;
}

#author{
  margin-left: 10px;
}

#currentRoom{
  color: #110f16;
}

.cardSize {
  width: 100%;
  height: 130px;
  max-height: 25vh;
}

$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */

.dark {
	background: #110f16;
 
}


.bootton {
  margin: 0.2em 0.1em;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;    
}


.newdark{
	background: #110f16;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newdark2{
	background: #110f16;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.newlight {
	//background: #f3f5f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newlight2{
	//background: #f3f5f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
  color: #ffffff
}

/* Cards */
.postcard {
  display: flex;
  max-width: 60%;
  width: 100%;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }


  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  


  .postcard__preview-txt {
    text-align: justify;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag_item_button {
      display: inline-block;
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
    }

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }

  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }



    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

  }
}
// @media screen and (min-width: 1024px){
		// .postcard__text {
    //   padding: 2rem 3.5rem;
    // }
		
		// .postcard__text:before {
    //   content: "";
    //   position: absolute;
    //   display: block;
      
    //   top: -20%;
    //   height: 130%;
    //   width: 55px;
    // }
	
//   .postcard.dark {
// 		.postcard__text:before {
// 			background: #18151f;
// 		}
//   }
// 	.postcard.light {
// 		.postcard__text:before {
// 			background: #e1e5ea;
// 		}
//   }
// }

.vidcardcolor {

background-color: #ffffff !important;  /* fallback for old browsers */
background-image: -webkit-linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%) !important;  /* Chrome 10-25, Safari 5.1-6 */
background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}

/* COLORS */


.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	} 
}
.activity {
  
}

.activity-done {
  font-weight: 600;
  color: white;
}

.list-group li {
  margin-bottom: 12px
}

.list-group-item {}

.list li {
  list-style: none;
  padding: 10px;
  border: 1px solid #e3dada;
  margin-top: 12px;
  border-radius: 5px;
  background: #fff
}

.checkicon {
  color: green;
  font-size: 19px
}

.date-time {
  font-size: 12px
}

.profile-image img {
  margin-left: 3px
}




#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message, #message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {
  body, #message {
      margin-top: 0;
      background: white;
      box-shadow: none;
  }

  body {
      border-top: 16px solid #ffa100;
  }
}

/* body {
  margin: 1em;
} */

div#videos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div#videos > video {
  background: black;
  width: 640px;
  height: 100%;
  display: block;
  margin: 1em;
}




.navbar-inner li{
  line-height: 40px;
  letter-spacing:2px;
}

.nav-link{
  border-top: 4px solid white;

  transition: border-top .3s;
  &:hover{border-top: 4px solid dodgerblue;}
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a{
  background-image:none;
  background-color:dodgerblue;
}


.brand{
  letter-spacing:4px;
  border-top: 4px solid white;
  transition: border-top .3s;
  &:hover{border-top: 4px solid dodgerblue;}
  &:hover{border-top: 4px solid dodgerblue;}
}

.header{
  background-color: rgba(255,255,255, .95) !important;
  /* remove the gradient */
  background-image: none !important;
  border-bottom:2px solid dodgerblue !important;
  line-height: 40px !important;
  box-shadow: 0 12px 6px -6px rgba(0,0,0, .2) !important;
}
